@using mvc_crud.Models.DB
@model IList<mvc_crud.Models.DB.Carro>
@{
    ViewData["Title"] = "Cadrastro de Carros";
}

<table class="table"> 
    <thead>
        <tr>
            <th>Id</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>AnoLancamento</th>
            <th>AnoMontagem</th>
            <th>Chassis</th>
        </tr>
    </thead>
    <body>
@foreach (mvc_crud.Models.DB.Carro carro in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelCarro => carro.Id)</td>
        <td>@Html.DisplayFor(modelCarro => carro.Marca)</td>
        <td>@Html.DisplayFor(modelCarro => carro.Modelo)</td>
        <td>@Html.DisplayFor(modelCarro => carro.AnoLancamento)</td>
        <td>@Html.DisplayFor(modelCarro => carro.AnoMontagem)</td>
        <td>@Html.DisplayFor(modelCarro => carro.Chassis)</td>
    </tr>
}
    </body>

</table>