@using mvc_crud.Models.DB
@model IList<mvc_crud.Models.DB.Produto>
@{
    ViewData["Title"] = "Cadrastro de Produtos";
}

<table class="table"> 
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Valor</th>
            <th>Estoque</th>
        </tr>
    </thead>
    <body>
@foreach (mvc_crud.Models.DB.Produto produto in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelProduto => produto.Id)</td>
        <td>@Html.DisplayFor(modelProduto => produto.Nome)</td>
        <td>@Html.DisplayFor(modelProduto => produto.Valor)</td>
        <td>@Html.DisplayFor(modelProduto => produto.Estoque)</td>
    </tr>
}
    </body>

</table>